table {
    font-family: Impact, sans-serif;
    font-size: 30px;
    background-color: wheat;
    color: #000;
}
td {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: saddlebrown;
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: saddlebrown;
}
tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even){
    background-color: wheat;
}
tr:nth-child(even) td:first-child{
    background-color: wheat;
}
tr:nth-child(odd) td:last-child{
    background-color: wheat;
}